*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration:none;
    color: orangered;

}
.main{
    margin: 20px 40px;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
}
.head{
    width: 80%;
    text-align: center;
    padding: 20px 50px;
    grid-row: 1/2;
}
.context{
    text-align: center;
    width: 50%;
    grid-row: 2/3;
}
.box{
    width: 100%;
    justify-content: center;
    width: 60%;
}
.box>.iteam{
    margin: 5px;
    text-align: right;
}